node_modules
npm-debug.log
.env
frontend/.env
backend/.env
.git
.gitignore
frontend/node_modules
backend/node_modules
generated
uploads

# Cleanup Exclusions
*.log
*.txt
*.docx
!templates/*.docx

test_*.js
backend/test_*.js
backend/backups/
backend/debug_*.js
backend/create_full_backup.js
backend/backup_prod_db.js
